@media (max-width: 800px) {
    body {
        max-width: 100%;
        margin: auto;
    }

    main .article {
        display: flex;
        flex-direction: column;
    }

    .article-container {
        margin-bottom: 1em;
    }

    .article .article-image {
        width: 100%;
        height: auto;
    }

    .header nav ul li {
        font-size: 1em;
        margin: 0 0.5em;
        padding: 0.5em;
    }
}