<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Guardian</title>
    <meta name="description" content="The Guardian">
    <!--Link to the css file-->
    <link rel="stylesheet" href="../css/style.css">
    <!--Media queries-->
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
<header>
    <div class="header">
        <!--Logo-->
        <div class="logo">
            <img src="../img/logo.jpg" alt="logo">
        </div>
        <nav>
            <ul>
                <li>News</li>
                <li>Spotlight</li>
                <li>Opinion</li>
                <li>Sports</li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="article">
        <div class="first-container">
            <div class="article-container">
                <div class="article-image">
                    <img src="../img/no1.jpg" alt="news">
                </div>
                <div class="article-text">
                    <h3>What happens after local food places go viral?</h3>
                    <p>
                        Social media sensations such as the Spudman, Binley Mega Chippy, Get Baked and Wakey Wines cope
                        with the crowds – and the fallout
                    </p>
                </div>
            </div>
        </div>
        <div class="first-container">
            <div class="article-container">
                <div class="article-image">
                    <img src="../img/no2.jpg" alt="news">
                </div>
                <div class="article-text">
                    <h3>How True Detective’s creator turned on his own show</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis, excepturi
                        aspernatur tenetur est aut vel volup
                    </p>
                </div>
            </div>
        </div>
        <div class="first-container">
            <div class="article-container">
                <div class="article-image">
                    <img src="../img/no3.jpg" alt="news">
                </div>
                <div class="article-text">
                    <h3>No small talk
                    </h3>
                    <p>
                        Conversation card games can be entertaining at parties – and help us foster deep connections and
                        intimacy, which can otherwise be elusive
                    </p>
                </div>
            </div>
        </div>
        <div class="first-container">
            <div class="article-container">
                <div class="article-image">
                    <img src="../img/no4.jpg" alt="news">
                </div>
                <div class="article-text">
                    <h3>One of wettest winters in decades hits England’s farms
                    </h3>
                    <p>
                        Flooding top of agenda at NFU conference after extreme weather ruins thousands of acres of crops
                    </p>
                </div>
            </div>
        </div>
        <div class="first-container">
            <div class="article-container">
                <div class="article-image">
                    <img src="../img/no5.jpg" alt="news">
                </div>
                <div class="article-text">
                    <h3>What happens after local food places go viral?
                    </h3>
                    <p>
                        Social media sensations such as the Spudman, Binley Mega Chippy, Get Baked and Wakey Wines cope
                        with the crowds – and the fallout
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>


</footer>
</body>
</html>